<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/app.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <h1> Edit Fruits Page </h1>
    <form action="/fruits/<%= id %>?_method=PUT" method="POST">
        <label for="name">Name</label>
        <input id="name" type="text" value="<%= fruit.name %>" name="name">

        <label for="color">Color</label>
        <input id="color" type="text" value="<%= fruit.color %>" name="color">

        <label for="readyToEat">Ready to eat</label>
        <input id="readyToEat" type="checkbox" value=" <%= fruit.readyToEat %>" name="color">

        <input type="submit" value="Save">
    </form>
</body>
</html>