<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/app.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <h1>
        Individual Fruit detail
    </h1>
    <h3>
        You have choosen 
        <strong>
            <%= fruit.name  %>
        </strong>
        and its color of <%= fruit.color %>

        <% if (fruit.readyToEat){ %>
            it is ready to eat
       <% } else { %>
            it is not ready to eat
       <% } %>
    </h3>
    <a href="/">Return to HomePage</a>
</body>
</html>