<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/app.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <h2> New Fruit Page </h2>

    <form action="/fruits" method="POST">
        <label for="name">Name</label>
        <input id="name" type="text" name="name">

        <label for="color">Color</label>
        <input id="color" type="text" name="color">

        <label for="readyToEat">Ready to eat</label>
        <input id="readyToEat" type="checkbox" name="readyToEat">

        <input type="submit" value="Create Fruit">
    </form>
</body>
</html>